@media (max-width: 1266px) {
    #videocontainer {
        /* position: relative; */
        overflow: hidden;
    }

    #contentinsidevideo {
        position: absolute;
        top: 10%;
        
        width: auto;
        max-width: 25vw;
        transform: translateX(182%);
        text-align: right;
    }

    .maintext{
        font-size: 15px;
    }

    .melodyheadline{
        font-size: 22px;
    }

   
}

@media (min-width: 766px) and (max-width: 1266px){
    

    .footer_text{
        font-size: 13.5px;
    }
}

@media (max-width: 766px){

    #contentinsidevideo{
        display: none;
    }

    .belowtheheadname{
        flex-direction: column;
    }

    .footer_text{
        font-size: 2vw;
    }

    .about_text{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textareadiv{
        margin-top: 8vh;
        width: 80%;
    }
    
}

@media (max-width: 1011px) {

    .menucontent{
        font-size: 14px;
        width: 110px;
    }

  #videocontainer{
    width: 71vw;
  }

  #iamtopbar{
    width: 95%;
  }

  

    #insidethesidebar .menucontent:hover{
        background-color: #ee10b0;
        transform: translate(20px, -10px);
        font-size: 15px;
        border-radius: 7.5px;
        padding-left: 2px;
      }

      .iamhere_for_response{
        display: none;
      }
      
      #iamsidebar{
        position : sticky;
        top: 0;
      }
    
}

@media (max-width: 700px) {

    #videocontainer{
        display: none;
    }

    #iamsidebar{
        display: none;
    }

    #iambody{
        width: 100vw;
    }
    
    #weeklytopsongs{
        margin-top: 20vh;
    }

       .footer_text{
        font-size: 15px;
    }


    
}

@media (max-width: 516px) {
    
         .footer_text{
        font-size: 3vw;
    }

    .Footermelodeisheadline{
        margin-bottom: 2vh;
    }
}