@media (max-width: 1266px) {
    #videocontainer {
        /* position: relative; */
        overflow: hidden;
    }

    #contentinsidevideo {
        position: absolute;
        width: auto;
        max-width: 25vw;
        transform: translateX(186%);
        text-align: right;
    }

    .maintext{
        font-size: 15px;
    }

    .melodyheadline{
        font-size: 22px;
    }

   
}


@media (max-width: 1011px) {

    .menucontent{
        font-size: 14px;
        width: 110px;
    }

  #videocontainer{
    width: 71vw;
  }

  #iamtopbar{
    width: 95%;
  }

  #contentinsidevideo{
    transform: translateX(165%);
    top: 1%;
  }

  

    #insidethesidebar .menucontent:hover{
        background-color: #ee10b0;
        transform: translate(20px, -10px);
        font-size: 15px;
        border-radius: 7.5px;
        padding-left: 2px;
      }

      .iamhere_for_response{
        display: none;
      }
      
      #iamsidebar{
        position : sticky;
        top: 0;
      }
    
}


@media (min-width: 766px) and (max-width: 1266px){
    

    .footer_text{
        font-size: 13.5px;
    }
    #contentinsidevideo{
        top: 2%;
      }
}

@media (max-width : 957px) {
    #contentinsidevideo{
        top: 1.5%;
      }
}

@media (max-width: 766px){

    #contentinsidevideo{
        display: none;
    }

    .belowtheheadname{
        flex-direction: column;
    }

    .footer_text{
        font-size: 2vw;
    }

    .about_text{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textareadiv{
        margin-top: 8vh;
        width: 80%;
    }
    
}

@media (max-width: 700px) {

    #videocontainer{
        display: none;
    }

    #iamsidebar{
        display: none;
    }

    .iamclassbody{
        width: 100%;
        box-sizing: border-box;
    }
    
    #weeklytopsongs{
        margin-top: 20vh;
    }
    .iamapp{
        width: 100%;

    }
 .songscontainer{
    justify-content: center;
 }
  
}

@media (max-width: 400px) {
    .iam_volume_container{
        display: none;
    }

    .iammusicwave{
        display: none;
    }
    .iamtop_playpause{
        padding: 20px;
        display: grid;
        justify-items: start;
        align-items: center;
        grid-template-columns: 4fr 1fr;
        grid-gap: 10px;
        transition: display 0.5s ease-out;
        
    }

    .iamplaypause{
      top: 89%;
      justify-items: center;
      align-items: center;
      justify-content: start;
      transition: top 0.2s ease-in-out;
    
    }


    .name_and_desc{
      max-width: 150px;

    }

    .track-items{
      gap: 1;
    }

    .track_image{
       font-size: 6px;
    }

    .track_name{
        font-size: 15px;
        white-space: nowrap;     
        overflow: hidden;        
        text-overflow: ellipsis;  
        max-width: 100%; 
    }

    .track_desc{
        font-size: 10px;
        white-space: nowrap;      
        overflow: hidden;         
        text-overflow: ellipsis;  
        max-width: 100%; 

      }
    .iamseekbar{
        display: none;
    }

    .playpauseicon{
        font-size: 30px;
    }
    .playpauseicon2{
        font-size: 35px;
    }
    .button_contain{
        gap: 10px;
    }
    .newrelease_songs{
        display: none;
    }
    .songslist{
        display: none;
    }
    .footer_text{
        font-size: 3.5vw;
    }
    .belowtheheadname{
        padding: 0px;
    }
    .Footerheadname{
        margin-bottom: 6vh;
    }
    .about_text{
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    .socialmediabutton{
        margin-left: 0px;
    }

   /* album resposiveness  */

   .iamsong{
    max-height: 200px;
    max-width: 144px;
    align-items: start;
    margin-bottom: 10px;
   }

   .album_image{
    max-width: 110px;
    max-height: 100px;
   }

   .album_name{
    font-size: 12px;
    text-align: start;
   }
 
   .album_desc{
    font-size: 10px;
    text-align: start;
   }
   .songscontainer{
    gap: 10px;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
   }

   .iamclassbody{
    overflow: hidden;
   }

   .iamplaypause{
    display: none;
   }

   .Mobile_acnchor_tag{
    transform: rotateZ(270deg);
    transition: all 0.2s ease;

   }

 .iamfooter{
    transition: 1s ease-in-out;
 }

 .Mobile_acnchor_tag:hover {
    color: white;
  }

  .topbar_content{
    display: none;
  }
  #iamsearchbar{
    width: 40vw;
    /* background-color: pink; */
    transition: width 0.2s ease-in;
    margin-left: 6vw;
    
  }
  #iamsearchbar:hover{
    width: 75vw;
    
  }

  #weeklytopsongs{
    margin-left: 8vw;
  }

  .Mobile_navbaar{
    display: flex;
  }

  .only_for_mobile{
    overflow: visible;
  }

  /* // suggestion bar responsiveness  */

  .suggestion_bar{
    /* background-color: aqua; */
    width: 75vw;
    margin-left: 6vw;
    padding-left: 5px;
    
  }


  /* album responsiveness  */

  .iamalbum img {

    width: 30vw;
    height: 30vw;

  }
  .iamalbum h1 {

    font-size: 25px;

  }
  .iamalbum p {

    font-size: 12px;

  }

  .i_am_only_for_background{
    background-image: linear-gradient(90deg , #4d094d , #181818 );
  }

  .album_container{
    padding: 20px;
  }

  .album_list{
    display: grid;
    grid-template-columns: 15fr 1fr;
    
  }

  .album_name2{
    display: none;
  }

  .album_desc2{
    display: none;
  }
  .like_icon{
    display: none;
  }

  .song_name{
    font-size: 12px;
  }

  .song_heading{
    grid-template-columns: 0.1fr 12fr 1fr;
    font-size: 15px;
  }
 .artist_heading{
    display: none;
 }

 .song_image{
    margin-right: 2px;
 }
 .heading_title{
    gap: 10px;
 }
}
